#camada1{
         width:170px;
         height:100px;
         background-color:#cf9;
         text-align:center;
         border:2px solid #99f;
         font-size:12px;
         position:absolute;/*tipo da camada*/
         top:150px;
         left:200px;
         z-index:1;
}

#camada2{
         width:170px;
         height:100px;
         background-color:#9fc;
         text-align:center;
         border:2px solid #999;
         font-size:12px;
         position:absolute;
         top:200px;
         left:300px;
         z-index:2;
         }

#camada3{
         width:170px;
         height:100px;
         background-color:#ffc;
         text-align:center;
         border:2px solid #222;
         font-size:12px;
         position:absolute;
         top:250px;
         left:350px;
         z-index:3;
         }
#camada4{
         width:170px;
         height:100px;
                  
         position:absolute;
         top:300px;
         left:400px;
         z-index:4;
         }
