#fundo{
       
position:relative;

       
width:800px;

       
height:auto;

       
background-color:#CCC;

       
margin:auto;

       
text-align: center;

       
color:#000;

       
font-size:20px;

       
}



#camada1{

       
position:relative;

       
width:200px;

       
height:100px;

       
background-color:#00F;

       
float:left;       


       
}


#camada2{

       
position:relative;

       
width:600px;
       

height:100px;
       

background-color:#F00;
       

float:left;

       
}


#camada3{

       
position:relative;
       

width:800px;
       

height:50px;

       
background-color:#0F0;
       

clear:left;
       

}

#camada4{
       
position:relative;

       
width:780px;
       

height:350px;
       

background-color:#fF0;
       

border:10px solid #F00;
      
}


#camada5{
       

position:relative;
       

width:800px;
       

height:50px;

       
background-color:#999;
       

}

